---
layout: layouts/base.njk
---

<section class="h-layout">
    <div class="work__heading">
        <h1>{{ client }}</h1>
        <h4>{{ text }}</h4>
    </div>
</section>

<section class="work__banner">
    <img src="../../static/images/banners/{{ banner }}" alt="banner">
</section>

<section class="work__challenge h-layout--small">
    <span class="work__challenge__title">Challenge</span>
    <p class="work__challenge__text">{{ challenge }}</p>
</section>

<section class="work__process h-layout--small">
    <span class="work__process__title">Process</span>
    <p class="work__process__text">{{ process }}</p>
</section>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img2 }}" alt="banner">
</div>

<section class="work__solution h-layout--small">
    <span class="work__solution__title">Solution</span>
    <p class="work__solution__text">{{ solution }}</p>
</section>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img1 }}" alt="banner">
</div>

<section class="work__quote h-layout--small">
    <p class="work__quote__text">{{ quote }}</p>
    <span class="work__quote__author"> {{ authorofquote }}</span>
</section>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img3 }}" alt="banner">
</div>









