<section class="banner-join">
    <div class="banner-join-flex h-layout">
        <div class="banner__name">
            <h2>Let’s talk</h2>
        </div>
        
        <div class="banner__description">
            <p>We’re always open for a chat, so get in touch to find out how we can help</p>
            <a href="contact" class="primary-button">
                Get in touch
            
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>