<li class="services__card">
      <img src="../static/images/services/{{ service.image }}" alt="{{ service.title }}">
        <div class="services__content h-layout">
          <div>
            <h2>{{ service.title }}</h2>
          </div>
          <div>
            <h3>{{ service.subtitle }}</h3>

            <p>{{ service.text }}</p>
          </div>
    </div>
</li>