---
client: Airbnb
text: "Imagining a world where people can belong anywhere"
thumb: "airbnb-thumb.png"
banner: "banner-airbnb.jpeg"
challenge: "Back in 2013 Airbnb had disrupted the world of travel with an innovative accommodation model and were experiencing phenomenal growth. However the brand wasn’t differentiated from their closest competitors (like HomeAway)."
solution: "To elevate the brand we needed to uncover an authentic truth, unique to Airbnb. So, we immersed ourselves in their world, travelling to 13 cities to research locations, visit Airbnb offices, users, hosts and become a part of the Airbnb community."
img1: "airbnb-1.jpeg"
img2: "airbnb-2.jpeg"
img3: "airbnb-3.jpeg"
quote: "‘When I look at this brand, I suddenly realised everything I’ve been trying to say, now we have a way to express it.'"
authorofquote: "Brian Chesky, CEO and Founder of Airbnb"
highlighted: true
---