---
client: Deliveroo
text: "Awesome food delivered anywhere"
thumb: "deliveroo-thumb.png"
banner: "banner-deliveroo.jpeg"
challenge: "Food delivery no longer means pitiful pizza, bland burgers or crap kebabs; Deliveroo drops your favourite restaurant food at your door. But recent years have seen huge growth, and a new brand was needed to unify its look, feel, and positioning as it moved into new markets. Deliveroo had global ambitions. They wanted to cement their place in a world of fast-growth startups, and give amazing restaurants reason to stay exclusive."
process: "To create real change as a business, we ran leadership workshops. We’d experienced Deliveroo as both customers, and staff members – ordering loads, eating loads, and becoming delivery drivers – so had real insight. We’d learnt that design was urgently needed to improve drivers’ safety on the road, and a new strategy could help bring a sense of community."
solution: "Our proposition was ‘Demand Awesome’; running with the brand’s fast-paced attitude, and unifying their restaurants under the demand for their incredible food."
img1: "deliveroo-1.jpeg"
img2: "deliveroo-2.jpeg"
img3: "deliveroo-3.jpeg"
quote: "When I saw what you guys created I was really blown away. It truly represents us and is so different from what others are doing."
authorofquote: "Will Shu - Founder and CEO of Deliveroo"
highlighted: true
---