---
client: Hello Fresh
text: "Food that fits your life"
thumb: "hello-fresh-thumb.png"
banner: "banner-hellofresh1.jpeg"
banner2: "banner-hellofresh2.jpeg"
challenge: "HelloFresh is the world’s leading meal kit company. Lots of emerging niche food box brands mean the market has become crowded."
process: "We visited their warehouses and teams, getting into their everyday processes to understand what the new brand needed to do. From printing constraints, to the need for a universal language. HelloFresh needed an inventive brand that fit everybody’s life, both internally and externally: every factory, every lifestyle, every kitchen, every meal."
solution: "First stop was unifying the brand’s hero elements to work together harmoniously. Our new lime logo still has all the recognisable qualities of its predecessor (shape, size, colour, angle) but has been simplified to work anywhere – big or small, online or in print, static or rolling across the screen."
img1: "hellofresh-1.jpeg"
img2: "hellofresh-2.jpeg"
img3: "hellofresh-3.jpeg"
highlighted: true
---