---
client: Logitech
text: "Making technology more human"
thumb: "logitech-thumb.png"
banner: "banner-logitech.jpeg"
challenge: "We worked alongside Logitech during its biggest transformation in history. More than just a face-lift, the company wanted to redefine who it was and make a fundamental shift in the business – putting design thinking at the heart of everything."
process: "As a manufaturer of PC and mobile accessories, Logitech was a technology-first company. After working with the brand, from Switzerland to California, we helped to shift their new brand into a design-centric, people-first approach."
solution: "The new name ‘Logi’ is friendly and human. It shows a bold, committed change to a totally new personality. We worked with the internal team to establish a different brand architecture, ensuring that every single product offering would align with the new vision."
img1: "logitech-1.jpeg"
img2: "logitech-2.jpeg"
img3: "logitech-3.jpeg"
quote: "“Design is at the heart of everything we do moving forward. It’s the force driving the company. Now our brand truly reflects the ambition of the company.”"
authorofquote: "Alastair Curtis Chief Design Officer, Logitech"
highlighted: true
---