---
client: Treatwell
text: "The beauty of self expression"
thumb: "treatwell-thumb.png"
banner: "banner-treatwell.jpeg"
challenge: "Wahanda was an online hair and beauty booking service taking the UK and Europe by storm. Following a period of rapid growth, Wahanda was now five different brands, operating in ten countries."
process: "For six months, we worked closely with the Wahanda teams to unify all the businesses under one strategic vision. This started with a new name; Treatwell."
solution: "The new name ‘Logi’ is friendly and human. It shows a bold, committed change to a totally new personality. We worked with the internal team to establish a different brand architecture, ensuring that every single product offering would align with the new vision."
img1: "treatwell-1.jpeg"
img2: "treatwell-3.jpeg"
img3: "treatwell-2.jpeg"
quote: "‘You took a kernel of a good idea and were able to keep growing, developing and expanding it into something incredible’"
authorofquote: "Chris Wood, CCO of treatwell"
highlighted: false
---