---
client: UEFA Champions League
text: "Highlighting the moments that make the ultimate stage"
thumb: "uefa-thumb.png"
banner: "banner-uefa.jpeg"
challenge: "The UEFA Champions League is a spectacle that captures the imaginations of millions of fans across the world. Over the last 12 years the UCL brand had evolved, but the core focus had remained similar."
process: "Our approach was to focus on ‘the moments that make the ultimate stage’ – to hero legendary feats of ability, brilliance and skill on the pitch, while providing teams and partners a platform to inspire beyond the stadium."
solution: "Working across every aspect of brand experience; print and marketing communications, broadcast, in-stadium, social, digital, merchandise and commercial partnerships, we ensured the highest standards were achieved across every touchpoint."
img1: "uefa-1.jpeg"
img2: "uefa-2.jpeg"
img3: "uefa-3.jpeg"
highlighted: false
---